.web-development {
	background-color: $white;
	.html {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('./html.jpeg');
		min-height: 609px;
		margin-bottom: 1rem;
		@include media-breakpoint-down(sm) {
			min-height: 230px;
			margin-bottom: 1rem;
			width: 100%;
		}
	}
}
