.web-development {
	background-color: $white;
	.image-container {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

		min-height: 609px;
		margin-bottom: 1rem;
		@include media-breakpoint-down(sm) {
			min-height: 230px;
			margin-bottom: 1rem;
			width: 100%;
		}
	}
	.html {
		background-image: url('./html.jpeg');
	}
}
