.open {
	display: flex;
}
.modal {
	background-color: $header-background-color;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	top: 20px;
	.close {
		position: absolute;
		top: 2%;
		right: 1%;
		transition: all 200ms ease-in-out;
		cursor: pointer;
		&:hover {
			transform: scale(1.3);
		}
	}
}
