@import 'bootstrap-scss/bootstrap.scss';
@import 'bootstrap-scss/mixins/_breakpoints.scss';
@import 'bootstrap-scss/_variables.scss';
@import './custom-variables.scss';
@import './components/components.scss';
@import './classes.scss';

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $background-color;
	// p,
	// button,
	// a {
	// 	font-family: 'Montserrat', sans-serif;
	// }
	.btn-primary.cta {
		background-color: #064e9b !important;
		border-color: white;
	}
}
