$header-container-height: 160px;
$background-color: #fafafa;
$header-font-color: #000000;
$main-component-container-height: 1860px;
$min-section-height: 800px;
$header-background-color: #f1f1f1d4;

$app-background-color: #e1e0dc;
